@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

*, ::after, ::before{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  --max-width: 800px;
  --prim-color: rgb(0, 0, 0);
  --secd-color: rgb(244, 244, 244);
}

html {
  transition: all 0.25s ease-in-out;
}

html.dark{
  --prim-color: rgb(244, 244, 244);
  --secd-color: rgb(51, 51, 51);
}

html.dark{
  color: var(--prim-color);
  background-color: #111111;
}

body {
  width: min(100% - 1rem, var(--max-width));
  margin: 0 auto;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10rem;
  min-height: 100vh;
}

.date{
  font-size: 3rem;
}

.center {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: var(--prim-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center::before,
.center::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.center::before {
  width: 10px;
  height: 10px;
  background-color: var(--secd-color);
}
.center::after {
  width: 6px;
  height: 6px;
  background-color: var(--prim-color);
}

.hour-needle .top {
  height: 25px;
  top: 91px;
}

.minute-needle .top {
  height: 35px;
  top: 43px;
}

.dial {
  font-family: 'Gideon Roman', cursive;
  font-size: 32px;
}

.dial-hr {
  position: absolute;
  text-align: center;
  width: 350px;
  height: 350px;
}
.box {
  position: relative;
  height: 450px;
  width: 450px;
}

.seconds-dial {
  position: absolute;
  height: 390px;
  width: 390px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.second-dial {
  position: absolute;
  height: 390px;
  width: 390px;
  text-align: center;
  vertical-align: text-bottom;
}

.tick {
  display: inline-block;
  height: 8px;
  width: 2px;
  background-color: var(--prim-color) ;
}
.tick-big {
  display: inline-block;
  height: 12px;
  width: 4px;
  background-color: rgb(255, 0, 0);  /* border: 1px solid lightcoral; */
}

.outer-box{
  position: absolute;
  height: 350px;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.inner-box {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.minute-center {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: var(--prim-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.minute-center::before,
.minute-center::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.minute-center::before {
  width: 10px;
  height: 10px;
  background-color: var(--secd-color);
}
.minute-center::after {
  width: 6px;
  height: 6px;
  background-color: var(--prim-color);
}
.second-base {
  position: absolute;
  height: 200px;
  width: 2px;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: 50% 83.5%;
  background-color: rgb(255, 0, 0);
}
.second-base::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid red;
  border-radius: 50%;
  transform: translate(-50%, 100%);
}

.hour-base {
  width: 2px;
  height: 50px;
  background-color: var(--prim-color);
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: 50% 70%;
}

.hour-base::after,
.minute-base::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 12px;
  height: 12px;
  border: 2px solid var(--prim-color);
  border-radius: 50%;
  transform: translate(-50%, -100%);
}

.hour-base::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, 100%);
  border-radius: 50%;
  background-color: var(--prim-color);
}

.minute-base {
  width: 2px;
  height: 66px;
  background-color: var(--prim-color);
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: 50% 110%;
}

.hour-top,
.minute-top {
  position: absolute;
  width: 6px;
  height: 25px;
  background-color: var(--prim-color);
  clip-path: polygon(40% 0, 60% 0, 100% 100%, 0% 100%);
  left: 50%;
  top: -45%;
  transform: translate(-50%, -50%);
}

.minute-top {
  height: 35px;
  top: -28px;
}